body {
    background: url("../images/atl.jpg");
 }

}
h1 {
	color:white;
	text-align: center;
}

h2 {
	text-align: center;
}

h4 {
	text-align: center;
	color:yellow;
}

#answer-box {
	width: 100%;
	height: 100px;
	background-color:white;
}

#guess-remaining {
	width: 33%;
	height:33%;
	color:white;
}

#letters-guessed {
	width: 33%;
	height:33%;
	color: white;
}

#wins {
	width: 33%;
	height:33%;
	color: white;
}