body {
    background: url("../images/whitePaper.jpg") no-repeat;
    background-repeat: no-repeat;
	background-size: 100%;
 }

.headPanel {
	border: 2px solid blue;
	border-radius: 10px;
	text-align: center;
}

.contentPanel {
	border: 2px solid blue;
	border-radius: 10px;

}